div#commited_block( data-role="panel" data-title-caption="COMMITED" )
    div.w-100
        div.row.border-bottom.bd-system.pb-2
            div.cell-6
                div.text-bold.text-center
                    div.reduce-3 COMMITED PROPOSAL
                    div.text-leader2.text-bold.value#committed_proposals 0
            div.cell-6.border-left.bd-system
                div.text-bold.text-center
                    div.reduce-3 COMMITED VOTES
                    div.text-leader2.text-bold.value#committed_votes 0

        div.row.border-bottom.bd-system.pb-2
            div.cell-6
                div.text-bold.text-center
                    div.reduce-3 COMMITED BLOCKS
                    div.text-leader2.text-bold.value#committed_blocks_count 0
            div.cell-6.border-left.bd-system
                div.text-bold.text-center
                    div.reduce-3 BLOCKS IN TREE
                    div.text-leader2.text-bold.value#consensus_num_blocks_in_tree 0

        div.row.pb-2
            div.cell-6
                div.text-bold.text-center
                    div.reduce-3 TXNS RETRY
                    div.text-leader2.text-bold.value#consensus_committed_txns_retry 0
            div.cell-6.border-left.bd-system
                div.text-bold.text-center
                    div.reduce-3 TXNS SUCCESS
                    div.text-leader2.text-bold.value#consensus_committed_txns_success 0

