div( data-role="panel" data-title-caption="CONNECTIONS" )
    table.table.subcompact.cell-border
        tr
            td.no-wrap Inbound
            td.text-right
                span#connections_inbound 0
        tr
            td Outbound
            td.text-right
                span#connections_outbound 0
        tr
            td Events Connected
            td.text-right
                span#secure_net_events_connect 0
        tr
            td Events Read
            td.text-right
                span#secure_net_events_read 0
        tr
            td SME Lost Peer
            td.text-right
                span#shared_mempool_events_lost_peer 0
        tr
            td SME New Peer
            td.text-right
                span#shared_mempool_events_new_peer 0
        tr
            td Active Peers
            td.text-right
                span#mempool_active_upstream_peers_count 0
