div( data-role="panel" data-title-caption="JELLYFISH" )
    table.table.subcompact.cell-border
        tr
            td.no-wrap Internal Encoded Bytes
            td.text-right.value
                span#jellyfish_internal_encoded_bytes 0
        tr
            td.no-wrap Leaf Encoded Bytes
            td.text-right.value
                span#jellyfish_leaf_encoded_bytes 0
        tr
            td.no-wrap Storage Reads
            td.text-right.value
                span#jellyfish_storage_reads 0
