div( data-role="panel" data-title-caption="LEDGER STORAGE STATE" )
    table.table.subcompact.cell-border
        tr
            td.no-wrap Total Accounts
            td.text-right
                span#storage_latest_account_count 0
        tr
            td.no-wrap Events Created
            td.text-right
                span#storage_ledger_events_created 0
        tr
            td.no-wrap New Leaves
            td.text-right
                span#storage_ledger_new_state_leaves 0
        tr
            td.no-wrap Stale Leaves
            td.text-right
                span#storage_ledger_stale_state_leaves 0
        tr
            td.no-wrap New Nodes
            td.text-right
                span#storage_ledger_new_state_nodes 0
        tr
            td.no-wrap Stale Nodes
            td.text-right
                span#storage_ledger_stale_state_nodes 0
        tr
            td.no-wrap Transaction Version
            td.text-right
                span#storage_latest_transaction_version 0
