div( data-role="panel" data-title-caption="LEDGER STORAGE STATE" )
    table.table.subcompact.cell-border
        tr
            td.no-wrap Total Accounts
            td.text-right.value
                span#storage_latest_account_count 0
        tr
            td.no-wrap Events Created
            td.text-right.value
                span#storage_ledger_events_created 0
        tr
            td.no-wrap Leaves
            td.text-right.value
                span#storage_ledger_new_state_leaves 0
                span.ml-1.mr-1 /
                span#storage_ledger_stale_state_leaves 0
        tr
            td.no-wrap Nodes
            td.text-right.value
                span#storage_ledger_new_state_nodes 0
                span.ml-1.mr-1 /
                span#storage_ledger_stale_state_nodes 0
