div( data-role="panel" data-title-caption="LEDGER" )
    div.mt-2.text-bold.reduce-3 APTOS STATE
    table.table.subcompact.cell-border
        tr
            td.no-wrap Chain ID
            td.text-right.value
                span#aptos_chain_id 0
        tr
            td Version
            td.text-right.value
                span#aptos_version 0

    div.mt-2.text-bold.reduce-3 NODE STATE
    table.table.subcompact.cell-border
        tr
            td.no-wrap Chain ID
            td.text-right.value
                span#chain_id Not available
        tr
            td Sync Epoch
            td.text-right.value
                span#state_sync_epoch 0
        tr
            td Next Block Epoch
            td.text-right.value
                span#storage_next_block_epoch 0
        tr
            td Version
            td.text-right.value
                span#storage_ledger_version 0
