div( data-role="panel" data-title-caption="LEDGER" )
    table.table.subcompact.cell-border
        tr
            td.no-wrap Chain ID
            td.text-right
                span#chain_id Not available
        tr
            td Sync Epoch
            td.text-right
                span#state_sync_epoch 0
        tr
            td Next Block Epoch
            td.text-right
                span#storage_next_block_epoch 0
        tr
            td Version
            td.text-right
                span#storage_ledger_version 0
