div( data-role="panel" data-title-caption="METRICS" )
    table.table.subcompact.cell-border
        tr
            td.no-wrap Families Over 1000
            td.text-right.value
                span#metrics_families_over_1000 0
        tr
            td.no-wrap Total
            td.text-right.value
                span#metrics_total 0
        tr
            td.no-wrap Total Bytes
            td.text-right.value
                span#metrics_total_bytes 0
        tr
            td.no-wrap Discovery Counts
            td.text-right.value
                span#simple_onchain_discovery_counts 0
        tr
            td ReConfig Count
            td.text-right.value
                span#state_sync_reconfig_count 0
        tr
            td Timeout Total
            td.text-right.value
                span#state_sync_timeout_total 0
