div( data-role="panel" data-title-caption="QUEUES" )
    table.table.subcompact.cell-border
        tr
            td.no-wrap Health Dequeued
            td.text-right.value
                span#network_pending_health_check_events_dequeued 0
        tr
            td.no-wrap Health Enqueued
            td.text-right.value
                span#network_pending_health_check_events_enqueued 0
        tr
            td.no-wrap Storage Dequeued
            td.text-right.value
                span#storage_service_server_pending_network_events_dequeued 0
        tr
            td.no-wrap Storage Enqueued
            td.text-right.value
                span#storage_service_server_pending_network_events_enqueued 0
