div( data-role="panel" data-title-caption="REQUESTS & RESPONSES" )
    table.table.subcompact.cell-border
        tr
            td.no-wrap Sent Requests Total
            td.text-right.value
                span#sent_requests_total 0
        tr
            td.no-wrap Requests Server Summary
            td.text-right.value
                span#sent_requests_summary_server 0
        tr
            td.no-wrap Client Success Responses
            td.text-right.value
                span#data_client_success_responses 0
        tr
            td.no-wrap Success Responses Server Summary
            td.text-right.value
                span#data_client_success_responses_summary_server 0
        tr
            td.no-wrap Network Key Mismatch
            td.text-right.value
                span#network_key_mismatch 0
        tr
            td.no-wrap Log Count
            td.text-right.value
                span#struct_log_count 0
        tr
            td.no-wrap Log Processed Count
            td.text-right.value
                span#struct_log_processed_count 0
        //tr
        //    td.no-wrap Global Summary Errors
        //    td.text-right
        //        span#streaming_service_global_summary_error 0
        //tr
        //    td.no-wrap Error Responses Total
        //    td.text-right
        //        span#error_responses_total 0
        //tr
        //    td.no-wrap Error Responses Server
        //    td.text-right
        //        span#error_responses_storage_server_summary 0
