div( data-role="panel" data-title-caption="REQUESTS & RESPONSES" )
    div.w-100
        div.row.border-bottom.bd-system.pb-2
            div.cell-6
                div.text-bold.text-center
                    div.reduce-3 REQUESTS
                    div.text-leader.text-bold.value#sent_requests_summary_server 0
            div.cell-6.border-left.bd-system
                div.text-bold.text-center
                    div.reduce-3 RESPONSES
                    div.text-leader.text-bold.value#data_client_success_responses_summary_server 0

        table.table.subcompact.cell-border.mt-4
            tr
                td.no-wrap Sent Requests Total
                td.text-right.value
                    span#sent_requests_total 0
            tr
                td.no-wrap Client Success Responses
                td.text-right.value
                    span#data_client_success_responses 0
            tr
                td.no-wrap Log Count
                td.text-right.value
                    span#struct_log_count 0
            tr
                td.no-wrap Log Processed Count
                td.text-right.value
                    span#struct_log_processed_count 0
