div( data-role="panel" data-title-caption="RPC BYTES" )
    table.table.subcompact.cell-border
        tr
            td.no-wrap Received Request
            td.text-right
                span#network_rpc_bytes_received_request 0
        tr
            td.no-wrap Received Response
            td.text-right
                span#network_rpc_bytes_received_response 0
        tr
            td.no-wrap Sent Request
            td.text-right
                span#network_rpc_bytes_sent_request 0
        tr
            td.no-wrap Sent Response
            td.text-right
                span#network_rpc_bytes_sent_response 0
