div( data-role="panel" data-title-caption="RPC MESSAGES" )
    table.table.subcompact.cell-border
        tr
            td.no-wrap Received Request
            td.text-right.value
                span#network_rpc_messages_received_request 0
        tr
            td.no-wrap Received Response
            td.text-right.value
                span#network_rpc_messages_received_response 0
        tr
            td.no-wrap Sent Request
            td.text-right.value
                span#network_rpc_messages_sent_request 0
        tr
            td.no-wrap Sent Response
            td.text-right.value
                span#network_rpc_messages_sent_response 0
        tr
            td.no-wrap Failed Request
            td.text-right.value
                span#network_rpc_messages_failed_request 0
