div( data-role="panel" data-title-caption="SEND DATA" )
    table.table.subcompact.cell-border
        tr
            td.no-wrap Messages Received
            td.text-right.value
                span#network_direct_send_messages_received 0
        tr
            td.no-wrap Messages Sent
            td.text-right.value
                span#network_direct_send_messages_sent 0
        tr
            td.no-wrap Bytes Received
            td.text-right.value
                span#network_direct_send_bytes_received 0
        tr
            td.no-wrap Bytes Sent
            td.text-right.value
                span#network_direct_send_bytes_sent 0
