div( data-role="panel" data-title-caption="SYSTEM INFO" )
    table.table.subcompact.cell-border
        tr
            td.no-wrap CPU CORES
            td.text-right.value
                span#system_physical_core_count 0
        tr
            td Total Memory
            td.text-right.value
                span#system_total_memory 0
        tr
            td Used Memory
            td.text-right.value
                span#system_used_memory 0
