div( data-role="panel" data-title-caption="TRANSACTIONS" )
    table.table.subcompact.cell-border
        tr
            td.no-wrap Storage Committed
            td.text-right.value
                span#storage_committed_txns 0
        tr
            td.no-wrap VM System Executed
            td.text-right.value
                span#vm_system_transactions_executed 0
        tr
            td.no-wrap VM Per Block Sum
            td.text-right.value
                span#vm_num_txns_per_block_sum 0
        tr
            td.no-wrap VM Per Block Count
            td.text-right.value
                span#vm_num_txns_per_block_count 0
