main.container-fluid
    div#error-log
        div#error-log-api
        div#error-log-metric

    div
        div.row
            div.cell-md-6
                div.border.bd-system.p-3
                    div.reduce-4.text-bold NODE TYPE
                    div.h3.text-light.m-0.value#node-type Unknown Node Type
                    div#node-type-icon
                        span.mif-question


            div.cell-md-3
                div.border.bd-system.p-3
                    div.reduce-4.text-bold CHAIN ID
                    div.h3.text-light.m-0.value#chain-id 0
                    div#chain-ok
                        span.mif-question

            div.cell-md-3
                div.border.bd-system.p-3
                    div.reduce-4.text-bold NETWORK
                    div.h3.text-light.m-0.value#network None
                    div#network-icon
                        span.mif-database

    div.row
        div.cell-md-4
            div.text-leader2 Ports test
            div.row.text-center.text-small.reduce-3.ports-wrapper

        div.cell-md-8
            div.text-leader2 Node Status
            div.row.text-center.text-small.reduce-3
                div.cell-sm-6.cell-md-one-fifth
                    div.border.bd-default.p-2
                        div.small-box-title API:
                        div.small-box-value#api_status ---

                div.cell-sm-6.cell-md-one-fifth
                    div.border.bd-default.p-2
                        div.small-box-title METRIC:
                        div.small-box-value#metric_status ---

                div.cell-sm-6.cell-md-one-fifth
                    div.border.bd-default.p-2
                        div.small-box-title CHAIN:
                        div.small-box-value#chain_status ---

                div.cell-sm-6.cell-md-one-fifth
                    div.border.bd-default.p-2
                        div.small-box-title SYNC:
                        div.small-box-value#sync_status ---

                div.cell-sm-6.cell-md-one-fifth
                    div.border.bd-default.p-2
                        div.small-box-title PEERS:
                        div.small-box-value#peer_status ---

    div.row
        div.cell-md-6.cell-lg-3
            include ./blocks/api-ledger-info

        div.cell-md-6.cell-lg-3
            include ./blocks/sync-status

        div.cell-md-6.cell-lg-3
            include ./blocks/connections

        div.cell-md-6.cell-lg-3
            include ./blocks/requests

        div.cell-md-6.cell-lg-3
            include ./blocks/ledger-storage

        div.cell-md-6.cell-lg-3
            include ./blocks/transactions

        div.cell-md-6.cell-lg-3
            include ./blocks/rpc-bytes

        div.cell-md-6.cell-lg-3
            include ./blocks/rpc-messages

        div.cell-md-6.cell-lg-3
            include ./blocks/metrics

        div.cell-md-6.cell-lg-3
            include ./blocks/send-data

        div.cell-md-6.cell-lg-3
            include ./blocks/jellyfish

        div.cell-md-6.cell-lg-3
            include ./blocks/system

        //div.cell-md-6.cell-lg-3
        //    include ./blocks/ledger

        //div.cell-md-6.cell-lg-3
        //    include ./blocks/queues


